<% provide(:title,'Edit account') %>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class:'form-horizontal', id:'edit_user_form' }) do |f| %>
  <%= devise_error_messages! %>

   <div class="control-group">    
    <%= f.label :email , class:'control-label'%>
    <div class="controls">
      <%= f.email_field :email, placeholder:"Enter email address", class:'span4' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, class:'control-label' %>
    <div class="controls">
      <%= f.text_field :name, placeholder:'Enter username, 6 characters minimum', class:'span4' %>
    </div>
  </div>

	<% if f.object.encrypted_password.present? %>

	  <div class="control-group">
	    <%= f.label :password, class:'control-label'%> 
	    <div class="controls">
	      <%= f.password_field :password, :autocomplete => "off", class:'span4' %><br>
	      <i>(leave blank if you don't want to change it)</i>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :password_confirmation, class:'control-label'%>
	    <div class="controls">
	      <%= f.password_field :password_confirmation, class:'span4' %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :current_password, class:'control-label' %> 
	    <div class="controls">
	      <%= f.password_field :current_password, class:'span4' %><br>
	      <i>(we need your current password to confirm your changes)</i>
	    </div>
	  </div>
	  
	<% end %>

  <div class="control-group">
    <div clas="controls">
      <%= f.submit "Update", class:'btn btn-inverse' %>
    </div>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>

<script type="text/javascript">
$(document).ready(function() {
  $("#edit_user_form").validate({
      onfocusout: function(element) { $(element).valid(); } ,

      rules: {
          "user[name]":{
              required: true,
              remote: "/users/check_name",
          },
          "user[email]":{
              required: true,
              email: true,
              remote: '/users/check_email',
          },
          "user[current_password]":{
              required: true,
              minlength: 6
          },
      },
      messages: {
          "user[name]":{
              required: "The user name is required",
              remote: "The username has already been taken",
          },
          "user[email]":{
              required: "The email address is required",
              email: "A valid email address is required",
              remote: "The email address has already been taken",
          },
          "user[current_password]":{
              required: "The current password is required",
              minlength: "Min Length is 6 characters"
          },
      },
      errorElement: "div",
  });
});
</script>